.app {
  text-align: center;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.appHeader {
  background-color: rgb(23, 149, 212);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appHeader__logo {
  height: 40px;
}

.appHeader h1 {
  flex: 1;
  text-align: center;
  color: white;
}
